.top {
    width: fit-content;
    position:fixed;
    border-radius: 20px;
    margin-left: 5px;
    padding:0;
    top: 95%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navText {
    text-decoration: none;
    color: #DEB887;
    font-size: 20px;

}

.navText:hover {
    text-decoration: none;
    color: #D2691E;
}